@import '../components/common.less';
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content{
    & > .container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        &.intro-holder{ z-index: 5; }
        &.gallery-holder{ z-index: 0; }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  hold button start                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#hold-button{
    display: inline-block;
    width: auto;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 60px;
    z-index: 10;
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(-50%);
    overflow: hidden;
    .circle{
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 6px;
        background: @gold;
        transition: all .4s @easing 0s;
        transform: translateY(-50%);
        overflow: hidden;
    }
    .text{
        display: inline-block;
        vertical-align: middle;
        padding: 0 27px;
        font-size: .875em;
        color: @black;
        line-height: 16px;
        position: relative;
        z-index: 2;
        transition: all .4s @easing 0s;
        background: transparent;
        overflow: hidden;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  hold button end                           */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  intro start                               */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container.intro-holder{
    background: @white;
    & > h1{
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 20;
        font-family: "Elianto";
        font-size: 11.25em;
        font-size: 9.375vw;
        fill: @black;
        text-transform: uppercase;
        transform: translateX(-50%) translateY(-50%);
        overflow: hidden;
    }
    .hero-title-holder{
        width: 100%;
        height: 100%;
        position: relative;
        user-select: none;
        overflow: hidden;
        & > .svg-holder{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            overflow: hidden;
            .hero-mask{
                width: 100%;
                height: 100%;
                .mask-rect{
                    stroke: none;
                    fill: @white;
                }
                .mask-text{
                    font-family: "Elianto";
                    font-size: 11.25em;
                    font-size: 9.375vw;
                    fill: @white;
                    stroke: @gray;
                    stroke-width: 1px;
                    stroke-dasharray: 750;
                    stroke-dashoffset: 750;
                    text-transform: uppercase;
                    animation: hero-title 2.4s @easing 0s 1 forwards;
                }
                .rect{
                    fill: @white;
                    stroke: none;
                }
            }
        }
        & > .hero-photo{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 120px 11.19791666666667%;
            box-sizing: border-box;
            overflow: hidden;
            figure{
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                img{
                    display: block;
                    width: auto;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    overflow: hidden;
                }
            }
        }
    }
    .postscript-holder{
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 120px;
        z-index: 5;
        font-size: .875em;
        font-weight: 300;
        color: @gold;
        letter-spacing: .6em;
        text-indent: .6em;
        text-transform: uppercase;
        transform: translateX(-50%);
        overflow: hidden;
    }
}

@keyframes hero-title{
    0% {
        fill: @white;
        stroke: @gray;
        stroke-dashoffset: 750;
    }
    35% {
        fill: @white;
    }
    75% {
        stroke-dashoffset: 0;
    }
    100% {
        fill: @black;
        stroke: @white;
        stroke-dashoffset: 0;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  intro end                                 */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/