@import 'reset.less';
@import 'settings.less';
@import 'icons.less';
@import 'loader.less';
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body.preload * { transition: none !important; }

html,
body,
#page,
#content{
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#content{ position: relative; }
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  logo start                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#logo-holder{
    width: 90px;
    height: auto;
    overflow: hidden;
    & > a{
        display: block;
        width: 100%;
        height: auto;
        outline: none;
        overflow: hidden;
        & > .logo{
            position: relative;
            .letters{
                stroke: none;
                fill: @black;
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  logo end                                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  header start  			                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header{
    width: 100%;
    height: auto;
    min-height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    opacity: 1;
    transition: all .4s @easing 0s;
    visibility: visible;
    overflow: hidden;
    &:before{
        display: block;
        width: 100%;
        height: 6px;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background: @gold;
        transition: all .4s @easing 0s;
        transform-origin: 0% 0%;
        transform: scaleX(1);
        overflow: hidden;
    }
    #logo-holder{
        float: left;
        margin: 60px 0 0 60px;
        & > a{
            & > .logo{
                .circle{
                    transition: all .2s @easing 0s;
                }
                .letters{
                    transition: all .2s @easing 0s;
                }
            }
        }
    }
    .open-menu-button,
    .close-menu-button{
        position: absolute;
        top: 60px;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);
        overflow: hidden;
    }
    .open-menu-button{
        width: 90px;
        height: 90px;
        opacity: 1;
        visibility: visible;
        transition: all .4s @easing .4s;
        & > .circle{
            display: block;
            width: 6px;
            height: 6px;
            margin: 0 auto;
            position: relative;
            border-radius: 50%;
            background: @black;
            overflow: hidden;
            & + .circle{ margin: 12px auto 0; }
            &:before{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                background: @gold;
                transform: translateY(-100%);
                overflow: hidden;
            }
            &:nth-child(1){
                &:before{
                    transition: all .2s @easing .6s;
                }
            }
            &:nth-child(2){
                &:before{
                    transition: all .2s @easing .4s;
                }
            }
            &:nth-child(3){
                &:before{
                    transition: all .2s @easing .2s;
                }
            }
        }
        & > .text{
            display: block;
            width: 100%;
            height: auto;
            margin-top: 30px;
            font-size: .75em;
            color: @gray;
            text-align: center;
            letter-spacing: .6em;
            text-indent: .6em;
            text-transform: uppercase;
            transition: all .2s @easing 0s;
            overflow: hidden;
        }
        &:hover{
            & > .circle{
                &:nth-child(1){
                    &:before{
                        transition: all .2s @easing 0s;
                    }
                }
                &:nth-child(2){
                    &:before{
                        transition: all .2s @easing .2s;
                    }
                }
                &:nth-child(3){
                    &:before{
                        transition: all .2s @easing .4s;
                    }
                }
                &:before{
                    transform: translateY(0%);
                }
            }
            & > .text{
                transition: all .2s @easing .6s;
                color: @gold;
            }
        }
    }
    .close-menu-button{
        width: 30px;
        height: 30px;
        opacity: 0;
        transition: all .4s @easing 0s;
        visibility: hidden;
        & > .icon{
            display: block;
            width: 100%;
            height: 100%;
            font-size: 1.5em;
            color: @gold;
            text-align: center;
            line-height: 30px;
            overflow: hidden;
        }
    }
    .langs-holder{
        display: inline-block;
        float: right;
        margin: 60px 60px 0 0;
        overflow: hidden;
        ul{
            display: inline-block;
            li{
                display: inline-block;
                & + li{ margin-left: 15px; }
                a{
                    display: inline-block;
                    font-size: 1em;
                    color: @black;
                    text-transform: uppercase;
                    transition: all .2s @easing 0s;
                    overflow: hidden;
                }
                &.active a,
                & > a:hover{
                    color: @gold;
                }
            }
        }
    }
    &.__hidden{
        opacity: 0;
        visibility: hidden;
    }
}

#page.__menu-active #header{
    &:before{ transform: scaleX(0); }
    #logo-holder{
        & > a .logo{
            .circle{ stroke: @white; }
            .letters{ fill: @white; }
        }
    }
    .open-menu-button{
        opacity: 0;
        visibility: hidden;
        transition: all .4s @easing 0s;
    }
    .close-menu-button{
        opacity: 1;
        visibility: visible;
        transition: all .4s @easing .4s;
    }
    .langs-holder{
        ul li{
            a{ color: @white; }
            &.active a,
            & > a:hover{
                color: @gold;
            }
        }
    }   
}

#page.__hold-start #header,
#page.__hold-active #header{
    opacity: 0;
    transition: all .4s @easing 1.6s;
    pointer-events: none;
    visibility: hidden;
    &:before{
        transform: scaleX(0);
        transition: all 1.6s @easing 0s;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  header end                			      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  menu start                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: @black;
    transition: all .4s @easing 0s;
    transform: translateY(-100%);
    visibility: hidden;
    overflow: hidden;
    .menu-holder{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 5;
        opacity: 0;
        transition: all .1s @easing 0s;
        transform: translateY(-50%);
        visibility: hidden;
        overflow: hidden;
        ul, li{
            display: block;
            width: 100%;
            height: auto;
            overflow: hidden;
        }
        ul li{
            & + li{ margin-top: 45px; }
            a{
                display: inline-block;
                position: relative;
                padding-left: 180px;
                font-size: 1.5em;
                font-weight: 400;
                color: @white;
                transition: all .2s @easing 0s;
                text-transform: uppercase;
                overflow: hidden;
                &:before{
                    display: none;
                    width: 150px;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    content: "";
                    background: @white;
                    backface-visibility: hidden;
                    overflow: hidden;
                }
                &:hover{ color: @gold;}
            }
            &.active a{
                &:before{ display: block; }
            }
        }
    }
    .socials-holder{
        display: inline-block;
        position: absolute;
        left: 60px;
        bottom: 60px;
        opacity: 0;
        transition: all .1s @easing 0s;
        visibility: hidden;
        overflow: hidden;
        ul, li, a{
            display: inline-block;
        }
        ul li{
            & + li{ margin-left: 60px; }
            a{
                .line{
                    display: inline-block;
                    vertical-align: middle;
                    width: 60px;
                    height: 1px;
                    position: relative;
                    background: @white;
                    margin-right: 15px;
                    overflow: hidden;
                    &:before{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                        background: @gold;
                        transition: all .2s @easing 0s;
                        transform: translateX(-100%);
                        overflow: hidden;
                    }
                }
                .text{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: .875em;
                    color: @white;
                    transition: all .2s @easing 0s;
                    overflow: hidden;
                }
                &:hover{
                    .line:before{ transform: translateX(0%); }
                    .text{ color: @gold; }
                }
            }
        }
    }
    .text-overlay{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Elianto';
        font-size: 11.25em;
        font-size: 9.375vw;
        color: darken(@black, 2%);
        text-transform: uppercase;
        opacity: 0;
        transition: all .1s @easing 0s;
        transform: translateX(-50%) translateY(-50%);
        overflow: hidden;
    }
}

#page.__menu-active #menu{
    transform: translateY(0%);
    visibility: visible;
    .menu-holder{
        opacity: 1;
        visibility: visible;
        transition: all .4s @easing .4s;
    }
    .socials-holder{
        opacity: 1;
        visibility: visible;
        transition: all .4s @easing .4s;
    }
    .text-overlay{
        opacity: 1;
        transition: all 1.2s @easing 0s;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  menu end                                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  categories start                          */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.categories-holder{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 60px;
    z-index: 15;
    opacity: 1;
    transition: all .4s @easing 0s;
    transform-origin: 100% 100%;
    transform: rotate(-90deg) translateX(50%);
    visibility: visible;
    overflow: hidden;
    ul{
        display: inline-block;
        li{
            display: inline-block;
            & + li{ margin-left: 45px; }
            & > a{
                display: inline-block;
                .line{
                    display: inline-block;
                    vertical-align: middle;
                    width: 45px;
                    height: 1px;
                    position: relative;
                    margin-right: 15px;
                    background: @black;
                    overflow: hidden;
                    &:before{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        background: @gold;
                        transition: all .2s @easing 0s;
                        transform: translateX(-100%);
                        backface-visibility: hidden;
                        overflow: hidden;
                    }
                }
                .text{
                    display: inline-block;
                    font-size: .875em;
                    color: @black;
                    transition: all .2s @easing 0s;
                    &:first-letter{ text-transform: uppercase; }
                }
            }
            & > a:hover,
            &.active a{
                .line:before{ transform: translateX(0%); }
                .text{ color: @gold; }
            }
        }
    }
}

#page.__menu-active .categories-holder{
    ul li{
        a{
            .line{ background: @white; }
            .text{ color: @white; }
        }
        &.active a,
        & > a:hover{
            .text{ color: @gold; }
        }
    }
}

#page.__hold-start .categories-holder,
#page.__hold-active .categories-holder{
    opacity: 0;
    visibility: hidden;
    transition: all .8s @easing 1.2s;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  categories end                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  progress start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#progress-holder{
    width: 100%;
    height: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 12;
    background: @black;
    transition: all .4s @easing 0s;
    transform-origin: 100% 0;
    transform: scaleX(1);
    overflow: hidden;
    & > .progress-line{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: @gold;
        transition: all .4s @easing 0s;
        transform-origin: 0% 0%;
        transform: scaleX(0);
        overflow: hidden;
    }
}

#page.__menu-active #progress-holder{
    & > .progress-line{ transform: scaleX(1); }
}

#page.__hold-start #progress-holder,
#page.__hold-active #progress-holder{
    transition: all 1.6s @easing 0s;
    transform: scaleX(0);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  progress end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  landscape start                           */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#landscape-holder{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: @black;
    overflow: hidden;
    & > .inner{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        overflow: hidden;
        .icon{
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto 15px;
            font-size: 3em;
            line-height: 60px;
            text-align: center;
            color: @white;
            overflow: hidden;
        }
        .text{
            display: block;
            width: 100%;
            height: auto;
            font-size: 1em;
            color: @white;
            text-align: center;
            overflow: hidden;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  landscape end                             */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and @tablet{

    #header{
        .open-menu-button{
            & > .circle:before{ display: none; }
            & > .text{ transition: none; }
            &:hover{
                & > .circle:before{ display: none; }
                & > .text{
                    transition: none;
                    color: @gray;
                }
            }
        }
    }
    
    #menu{
        .menu-holder ul li{
            & + li{ margin-top: 30px; }
            a{
                padding-left: 120px;
                &:before{ width: 90px; }
                &:hover{ color: @gold;}
            }
            &.active a:before{ display: block; }
        }
        .socials-holder{
            ul li{
                & + li{ margin-left: 30px; }
                a{
                    .line:before{ display: none; }
                    .text{ transition: none; }
                    &:hover .text{ color: @white; }
                }
            }
        }
        .text-overlay{ font-size: 6.5em; }
    }

    .categories-holder{
        ul{
            li{
                & + li{ margin-left: 30px; }
                & > a{
                    .line{
                        width: 45px;
                        &:before{
                            display: none;
                            transition: none;
                        }
                    }
                    .text{
                        display: inline-block;
                        font-size: .875em;
                        color: @black;
                        transition: all .2s @easing 0s;
                        &:first-letter{ text-transform: uppercase; }
                    }
                }
                & > a:hover{
                    .text{ color: @black; }
                }
                &.active a{
                    .line:before{
                        display: block;
                        transform: translateX(0%);
                    }
                    .text{ color: @gold; }
                }
            }
        }
    }

}

@media only screen and @phoneLandscape{

    #landscape-holder{ display: block; }

}

@media only screen and @phonePortrait{ 

    #logo-holder{
        width: 60px;
        height: 60px;
    }

    #header{
        &:before{
            height: 3px;
        }
        #logo-holder{
            margin: 30px 0 0 30px;
        }
        .open-menu-button,
        .close-menu-button{
            top: 30px;
        }
        .open-menu-button{
            width: 60px;
            height: 42px;
            top: 40px;
            & > .circle:before{ display: none; }
            & > .text{ display: none; }
        }
        .langs-holder{
            margin: 30px 30px 0 0;
            ul li {
                display: inline-block;
                vertical-align: middle;
                a{ font-size: .875em; }
            }
        }
    }
    
    #menu{
        .menu-holder{
            ul li{
                & + li{ margin-top: 20px; }
                a{
                    padding-left: 60px;
                    font-size: 1.25em;
                    &:before{ width: 45px; }
                    &:hover{ color: @white;}
                }
            }
        }
        .socials-holder{
            display: block;
            width: 100%;
            height: auto;
            position: absolute;
            left: 30px;
            bottom: 30px;
            ul, li, a{
                display: inline-block;
            }
            ul li{
                & + li{ margin-left: 30px; }
                a{
                    .line{ display: none; }
                    &:hover .text{ color: @white; }
                }
            }
        }
        .text-overlay{ font-size: 3.75em; }
    }

    .categories-holder{ display: none; }

    #progress-holder{ height: 3px; }

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
