/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  navigation start                          */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#navigation-holder{
    display: inline-block;
    position: absolute;
    right: 60px;
    bottom: 45px;
    z-index: 10;
    overflow: hidden;
    & > a,
    & > a .text,
    & > a .icon,
    & > span{
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
    }
    & > a{
        .text{
            font-size: .875em;
            color: @black;
            transition: all .2s @easing 0s;
        }
        .icon{
            width: 30px;
            height: 30px;
            font-size: 1.875em;
            color: @black;
            transition: all .2s @easing 0s;
        }
        &.prev .text{ margin: 0 30px 0 15px; }
        &.next .text{ margin: 0 15px 0 30px; }
        &:hover{
            .text,
            .icon{
                color: @gold;
            }
        }
    }
    & > span{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: @gray;
        text-align: center;
        line-height: 30px;
        font-size: .75em;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  navigation end                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and @tablet{

    #navigation-holder{
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        right: 0;
        bottom: 0;
        margin: 60px 0 90px;
        & > a{
            &:hover{
                .text,
                .icon{
                    color: @black;
                }
            }
            &.prev{
                float: left;
                .text{ margin: 0 0 0 15px; }
            }
            &.next{
                float: right;
                .text{ margin: 0 15px 0 0; }
            }
        }
        & > span{ display: none; }
    }

}

@media only screen and @phonePortrait{

    #navigation-holder{ margin: 45px 0 60px; }

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/